<app-header (hiddenFormsEvent)="togleForms()"></app-header>

<nav class="nav-bar" *ngIf="todosService.todosState().length > 0">
  <ul>
    <li
      [ngClass]="page == 'andamento' ? 'selected' : ''"
      (click)="changePage('andamento')"
    >
      Em andamento
    </li>
    <li
      [ngClass]="page == 'concluido' ? 'selected' : ''"
      (click)="changePage('concluido')"
    >
      Concluidas
    </li>
  </ul>
</nav>
<div *ngIf="todosService.todosState().length == 0" class="text-white text-center pt-3">
  <p>Não há atividades criadas, crie algumas!</p>
</div>

<div class="text-white cards" *ngIf="todosService.todosState().length > 0">
  <div class="card" *ngFor="let todo of todos">
    <h3>{{todo.title}}</h3>
    <p>{{todo.description}}</p>
    <div>
      <button (click)="changeStateTodo(todo)"><i class="bi bi-check-all"></i> </button>
      <button (click)="deleteTodo(todo)"><i class="bi bi-trash3-fill"></i></button>
    </div>
  </div>
  <div *ngIf="todos.length == 0">
    <p *ngIf="page == 'andamento';">Não há atividades em andamento</p>
    <p *ngIf="page == 'concluido';">Não há atividades concluidas</p>
  </div>
</div>

<div class="container-forms-and-shadow d-flex justify-content-center align-items-center position-absolute z-8 top-0" *ngIf="formsVisible">
  <div class="shadow h-100 w-100 top-o" (click)="togleForms()"></div>
  <div
    class="container-forms h-100 position-absolute d-flex align-items-center"
  >
    <form
      class="text-white z-2 position-relative"
      [formGroup]="formGroup"
      (submit)="onSubmit()"
    >
      <h2>Adicionar tarefa</h2>
      <div class="mb-3 form-floating">
        <input
          type="text"
          class="form-control text-white"
          id="floatingInput"
          placeholder="Titulo"
          formControlName="title"
        />
        <label for="floatingInput" class="form-label">Titulo</label>
      </div>
      <div class="mb-3 form-floating">
        <textarea
          type="text"
          class="form-control text-white"
          id="description"
          formControlName="description"
        ></textarea>
        <label for="description" class="form-label">Descrição</label>
      </div>
      <input type="hidden" formControlName="done" />
      <div class="d-flex justify-content-center" style="gap: 1rem">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="formGroup.status === 'INVALID'"
        >
          Adicionar
        </button>
        <button class="btn btn-danger" (click)="togleForms()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
